@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This application was created for the purpose of my acquaintance with ASP.NET Core MVC and further deepening my knowledge and using them in other projects.</p>
<p>Most of the code was created using templates (since I am not yet able to write the same application from scratch on my own). In the future, I plan to write something similar without using templates, using knowledge and a small code base from this application</p>
<p>
    The application can be used as a simple diary, in which you can mark small tasks and set a date for them (for example, a deadline or the beginning of a meeting).
</p>
