@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to note manager!</h1>
    <p>On this site you can manage your tasks and make your life easier!</p>
</div>
